.forlinks{
    list-style: none;
    font-size: 14px;
}
.fss{
    font-size:22px;
    margin-top:-12px;
}
.btns{
    height: 40px;
}
.sss{
    margin-top: -3px;
}
.logo{
    width: 140px; 
    margin-top: -25px ;
}
.cotes{
    width: 70px;
    font-size: 14px;
   
}

.form-controls{
    width: 500px;
    height: 40px;
    border-radius: 0px;
    font-size: 14px;
}
.category-btn{
    height: 40px;
    border-radius: 0px;
    background-color: #fff;
    color: #000;
    font-size: 14px;
 
}
.btn-search{
    width: 168px;
    height: 42px;
    border-radius: 0px;
    margin-top: -3px;
    margin-left: 6px;
    color: #fff;
    font-size: 14px;
}
.forlinks-2{
    list-style: none;
    font-size: 12px;
    margin-top: -10px;
    line-height: 16px;
}
.hre{
    margin-top: -1px;
    font-weight: bold;
}
.zen{
    z-index: 999;
}
.bcgs{
    background-color: #EEEEEE;
}